body {
	background-color: black;
	font-family: Open Sans;
}

body > div {
	position: absolute;
	top: 50%;
	margin-top: -63px;
	width: 100vw;
}

p {
	color: white;
	font-weight: 100;
	text-align: center;
}

div {
	color: white;
}

.title {
	text-align: center;
	font-size: 60px;
}

.content {
	text-align: center;
	font-weight: 100;
	font-size: 20px;
}

button {
	position: relative;
	left: 50%;
	margin-left: -53px;
	margin-top: 20px;
	color: white;
	font-weight: 100;
	border: 1px solid white;
	border-radius: 5px;
	background-color: black;
}